<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modules</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/module.html">Modules</a> |
        <a href="/schedule.html">Schedules</a> |
        <a href="/history.html">History</a>
    </nav>

    <h2>Module List</h2>
    <table>
        <thead>
            <tr>
                <th>Module ID</th>
                <th>Camera ID</th>
                <th>Status</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody id="moduleTableBody">
            <tr>
                <td colspan="4">Loading...</td>
            </tr>
        </tbody>
    </table>

    <script src="/static/scripts/index.js"></script>
</body>
</html>